	<div class="container-fluid">

		<ng-include src="GetNavigation()"></ng-include>


		<a href="#/update" id="previous-btn" class="btn btn-info pull-left btn-mini"><i class="icon icon-chevron-left icon-white"></i>Previous</a>

		<div id="map"></div>
		<div class="row-fluid">
			<div class="title palette palette-info-dark">
				<h1>Edit {{item.SmallKey}}.</h1>	
			</div>
			<br />
		</div>

		<form id="edit-geo-item">
			<div class="row-fluid item-details">
				<div class="span12 palette palette-night">
					<label for="">Latitude:</label>
					<input type="number" class="input-block-level" id="lat" value="{{item.Latitude}}" step="0.00001"/>
				</div>
			</div>
			<div class="row-fluid item-details">
				<div class="span12 palette palette-night">
					<label for="">Longitude:</label>
					<input type="number" class="input-block-level" id="long" value="{{item.Longitude}}" step="0.00001"/>
				</div>
			</div>
			<div class="row-fluid item-details">
				<div class="span12 palette palette-night">
					<label for="">Tag:</label>
					<select value="tag" class="input-block-level">
						<option ng-repeat="tag in listData | filter: search | orderBy: 'item.name'" ng-selected="tag.Name == item.Tag" value="{{tag.Name}}">{{tag.Name}}</option>
					</select>
				</div>
			</div>
			<div class="row-fluid item-details">
				<div class="span12 palette palette-night">
					<label for="">Date:</label>
					<button class="btn btn-block" disabled>{{item.Time}}</button>
				</div>
			</div>
			<div class="row-fluid item-details">
				<div class="span12 palette palette-night">
					<label for="">Meta:</label>

					<textarea class="input-block-level">{{item.Meta}}</textarea>
				</div>
			</div>
			<br />
			<button class="btn btn-info btn-block btn-large">Submit</button>
		</form>
	</div>

	<script>
    	var map = L.map('map').setView([38.895914, -77.034993], 10),
    	marker;

    	//map.doubleClickZoom.disable();
    	map.dragging.disable();
    	//map.touchZoom.disable();
    	map.scrollWheelZoom.disable();
    	//map.boxZoom.disable();
    	//map.keyboard.disable();
  //   	var greenIcon = L.icon({
		//     iconUrl: 'http://leafletjs.com/docs/images/leaf-green.png',
		//     shadowUrl: 'http://leafletjs.com/docs/images/leaf-shadow.png',

		//     iconSize:     [38, 95], // size of the icon
		//     shadowSize:   [50, 64], // size of the shadow
		//     iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
		//     shadowAnchor: [4, 62],  // the same for the shadow
		//     popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
		// });

		var defaultIcon = L.icon({
		    iconUrl: 'App/Themes/FlatUI/img/marker-icon.png',
		    shadowUrl: 'App/Themes/FlatUI/img/marker-shadow.png',

		    iconSize:     [25, 41], // size of the icon
		    shadowSize:   [41, 41], // size of the shadow
		    iconAnchor:   [12, 41], // point of the icon which will correspond to marker's location
		    shadowAnchor: [12, 41],  // the same for the shadow
		    popupAnchor:  [0, -46] // point from which the popup should open relative to the iconAnchor
		});

     	$(document).ready(function(){
			

    		L.tileLayer('http://b.tiles.mapbox.com/v3/cgallarno.map-ncz0yl38/{z}/{x}/{y}.png', {
	    		maxZoom: 16,
	    		minZoom: 6
			}).addTo(map);

			map.on('click', function(e){
				marker.setLatLng(e.latlng);
				map.setView(e.latlng, map.getZoom());
				$('#lat').val(e.latlng.lat);
				$('#long').val(e.latlng.lng);
			});


			$('#lat, #long').on('change', function(){
				$this = $(this);

				newLoc = [ $('#lat').val() , $('#long').val() ];

				marker.setLatLng(newLoc);
				map.setView(newLoc, map.getZoom());

				console.log('new', newLoc);
				console.log('marker', marker);
			});


     	});

     	function onMapClick(e) {
			marker = new L.marker(e.latlng, {icon: defaultIcon});
			map.addLayer(marker);
			map.setView(e.latlng, map.getZoom());
		}
	</script>