<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<h1 class="palette text-center">Plus.io</h1>
	<!--	<span class="pull-right">
			<button ng-click='clearCache()' class="btn">Click to clear cache</button>
		</span>
	-->
	</div>
</div>

<div class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="navbar-inner">
		<ul class="nav row-fluid">
			<li class="span2 {{navClass('create')}} offset1"><a href="#/create" class="text-center"><span class="fui-plus-24"></span></a></li>
			<li class="span2 {{navClass('read')}}"><a href="#/read" class="text-center"><span class="fui-menu-24"></span></a></li>
			<li class="span2 {{navClass('home')}}"><a href="#/" class="text-center"><span class="fui-cmd-24"></span></a></li>
			<li class="span2 {{navClass('update')}}"><a href="#/update" class="text-center"><span class="fui-new-24"></span></a></li>
			<li class="span2 {{navClass('delete')}}"><a href="#/delete" class="text-center"><span class="fui-cross-24"></span></a></li>
		</ul>
	</div>
</div>
