
  	<div class="container-fluid">

  		<ng-include src="GetNavigation()"></ng-include>

		<div class="row-fluid">
			<div class="palette palette-info-dark">
				<h1 class="span12">Edit Geo-<wbr>location items.</h1>
				<div class="clearfix"></div>
			</div>
		</div>
		<br />

		<div class="custom-search">
			<div class="search">
				<input type="search"  placeholder="Search..." class="search-field input-large" ng-model="search" />
			</div>
		</div>

		<ul class="nav nav-pills nav-stacked palette palette-info-dark">
			<li class="" ng-repeat="item in listData | filter: search | orderBy: 'item.name'"><a class="palette btn btn-info btn-large" href="#/update/{{item.Key}}">{{item.Tag}}<i class="icon-chevron-right pull-right icon-white"></i></a></li>
		</ul>


	</div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>