<ng-include src="GetNavigation()"></ng-include>
<div id="wrapper">
		<div class="song-row-container">
			<div id="recommended" class="song-row">
				<div class="song">
					<div class="song-info"><span class="title">Night Visions</span><br /><span class="artist">Imagine Dragons</span></div>	
				</div>
				<div class="song">
					<div class="song-info"><span class="title">Tourist History</span><br /><span class="artist">Two Door Cinema Club</span></div>
				</div>
				<div class="song">
					<div class="song-info"><span class="title">The Suburbs</span><br /><span class="artist">Arcade Fire</span></div>
					
				</div>
				<div class="song">
					<div class="song-info"><span class="title">Meteora</span><br /><span class="artist">Linkin Park</span></div>
					
				</div>
				<div class="song">
					<div class="song-info"><span class="title">Loud</span><br /><span class="artist">Rihanna</span></div>
					
				</div>
			</div>
		</div>
		<div id="top5-header"></div>
		<div class="song-row-container">
			<div id="top5" class="song-row">
				<div class="song-row">
					<!-- Tracks -->
					<div class="song" ng-show="IsSearchTabSelected('Tracks')" ng-repeat="song in Top5Tracks | filter: search | orderBy: 'song.track.track_name'" style="background-image: url('App/Themes/timon/img/{{song.track.track_id}}.jpg');" ng-click="SaveToQueue(song.track.track_id, username)" >
						<div class="song-info"><span class="title">{{song.track.track_name}}</span><br /><span class="artist">{{song.track.artist_name}}</span></div>
					</div>
					<!-- Albums -->
					<div class="song" ng-show="IsSearchTabSelected('Albums')" ng-repeat="song in Top5Tracks | filter: search | orderBy: 'song.track.album_name'" style="background-image: url('App/Themes/timon/img/{{song.track.track_id}}.jpg');" ng-click="SaveToQueue(song.track.track_id, username)" >
						<div class="song-info"><span class="title">{{song.track.track_name}}</span><br /><span class="artist">{{song.track.artist_name}}</span></div>
					</div>
					<!-- Artists -->
					<div class="song" ng-show="IsSearchTabSelected('Artists')" ng-repeat="song in Top5Tracks | filter: search | orderBy: 'song.track.artist_name'" style="background-image: url('App/Themes/timon/img/{{song.track.track_id}}.jpg');" ng-click="SaveToQueue(song.track.track_id, username)" >
						<div class="song-info"><span class="title">{{song.track.track_name}}</span><br /><span class="artist">{{song.track.artist_name}}</span></div>
					</div>										
				</div>
			</div>
		</div>
		<div id="player"></div>
</div>

