	<ul id="nav" class="nav nav-list">
		<li><a href=""><i class="icon-search icon-white"></i> Search</a></li>
		<li><a href=""><i class="icon-thumbs-up icon-white"></i> Top Tracks</a></li>
		<li><a href=""><i class="icon-music icon-white"></i> Playlists</a></li>
		<li><a href=""><i class="icon-user icon-white"></i> Friends</a></li>
	</ul>

	<div id="wrapper">
		<!-- HEADER -->
			<div id="header" class="navbar navbar-inverse navbar-fixed-top">
			  <div class="navbar-inner">
			  	<ul class="nav">
			      <li class="menu"><a href="#"><i class="icon-list icon-white"></i></a></li>
			    </ul>
			    <a class="brand" href="#">Timon</a>
			  </div>
			</div>