
	<ul id="nav" class="nav nav-list">
		<li><a href="#/search"><i class="icon-search icon-white"></i> Search</a></li>
		<li><a href="#/"><i class="icon-thumbs-up icon-white"></i> Top Tracks</a></li>
		<li><a href="#queue"><i class="icon-music icon-white"></i> Queue</a></li>
		<li><a href=""><i class="icon-user icon-white"></i> Friends</a></li>
	</ul>

	<!-- HEADER -->
	<div id="header" class="navbar navbar-inverse navbar-fixed-top">
	  <div class="navbar-inner">
	  	<div class="menu" ng-click="menuToggle()"></div>
	  	<ul class="nav">
	      <li id="tracks" ng-click="SetSelectedTab('Tracks')"></li>
	      <li id="albums" ng-click="SetSelectedTab('Albums')"></li>
	      <li id="me" ng-click="SetSelectedTab('Me')"></li>
	    </ul>
	  </div>
	</div>