html, body, #main-view{
	background-color: hsl(25, 2%, 16%);
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	color:white;
}

#nav{
	position: fixed;
	width: 220px;
	height: 100%;
	-webkit-box-shadow: inset -8px 0px 8px 0px rgba(0, 0, 0, .2);
	box-shadow: inset -8px 0px 8px 0px rgba(0, 0, 0, .2);
	float:left;
}

.menu{
	background: url('../img/menu-btn.png') no-repeat;
	background-size:contain;
	width: 43px;
	height: 34px;
	margin-top:15px;
	margin-left:15px;
	float: left;
}

#header{
	width: 100%;
}

#header .nav{
	/*position: absolute;*/
	top: 15px;
	float: right;
	left: auto;
}

.search input{
	background: #222;
	border-radius: 0;
	padding: 5px;
	border-color: #444;
	display: block;
	color: #ccc;
}

.container-fluid{
	/*padding-top: 50px;*/
}

#wrapper{
	position: absolute;
	background-image:url('../img/bg.jpg');
	width: 100%;
	min-height: 100%;
	margin-top: 64px;
	/*max-width: 320px;*/
}

.navbar-inverse .navbar-inner{
	background: url('../img/header.jpg') center bottom;
	height: 64px;
	border: 0;
}

.song-row-container{
	width: 100%;
	overflow-x: scroll;
}

.song-row{
	margin-top: 30px;
	width: 690px;
	float: left;
	padding: 0 20px 0;
}

#top5 .song-row{
	padding-left: 0px;
}

.song-row .song{
	position: relative;
	float: left;
	margin-right: 30px;
	width: 100px;
	height:149px;
	background-size: contain;
	background-repeat: no-repeat;
	line-height: 15px;
}

.song .song-info{
	position: absolute;
	height: 47px;
	bottom:0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: hsla(0,0%,100%,.6);
}

.song-info .title{
	font-size: 14px;
}

.song-info .artist{
	font-size: 11px;
}

#recommended .song:nth-child(1){
	background-image: url('../img/imagine-dragons.png');
}

#recommended .song:nth-child(2){
	background-image: url('../img/two-door-cinema-club.png');
}

#recommended .song:nth-child(3){
	background-image: url('../img/arcade-fire.png');
}

#recommended .song:nth-child(4){
	background-image: url('../img/linkin-park.png');
}

#recommended .song:nth-child(5){
	background-image: url('../img/rihanna.png');
}

#top5-header{
	background: url('../img/top5-header.jpg') no-repeat;
	background-size: cover;
	height: 45px;
	margin-top: 20px;
}

#tracks{
	background: url('../img/tracks.png') no-repeat;
	background-size: contain;
	width: 61px;
	height: 34px;
}

#albums{
	background: url('../img/albums.png') no-repeat;
	background-size: contain;
	width: 59px;
	height: 34px;
}

#me{
	background: url('../img/me.png') no-repeat;
	background-size: contain;
	width:62px;
	height: 34px;
}
/* AngularJS Animations */
.custom-enter-setup,
.custom-leave-setup,
.custom-move-setup {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
  position:relative;
}

.custom-enter-setup {
  left:-10px;
  opacity:0;
}
.custom-enter-setup.custom-enter-start {
  left:0;
  opacity:1;
}

.custom-leave-setup {
  left:0;
  opacity:1;
}
.custom-leave-setup.custom-leave-start {
  left:-10px;
  opacity:0;
}

.custom-move-setup {
  opacity:0.5;
}
.custom-move-setup.custom-move-start {
  opacity:1;
}

#top5{
	padding-bottom:100px;
}

#player{
	position: fixed;
	bottom: 0;
	left: 0;
	background: url('../img/player.jpg') no-repeat center bottom;
	background-size: contain;
	height: 75px;
	width: 100%;
}

.search{
	margin-top: 10px;
}

.artwork{
	background: #666;
	height: 90px;
	width: 90px;
	padding: 5px;
	float: left;
	margin-right: 20px;
}

.results li{
	clear: left;
	margin-bottom: 10px;
	padding: 20px;
}

