html, body, #main-view{
	background-color: hsl(25, 2%, 16%);
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	color:white;
}

#nav{
	width: 220px;
	height: 100%;
	-webkit-box-shadow: inset -8px 0px 8px 0px rgba(0, 0, 0, .2);
	box-shadow: inset -8px 0px 8px 0px rgba(0, 0, 0, .2);
	float:left;
}

.menu{
	background: url('../img/menu-btn.png') no-repeat;
	width: 83px;
	height: 64px;
	margin-top:25px;
	margin-left:25px;
	float: left;
}

#header .nav{
	position: absolute;
	top: 25px;
	left: 50%;
	margin-left:-140px;
}

.container-fluid{
	padding-top: 50px;
}

#wrapper{
	position: absolute;
	background-image:url('../img/bg.jpg');
	width: 100%;
	min-height: 100%;
	margin-top: 118px;
	/*max-width: 320px;*/
}

.navbar-inverse .navbar-inner{
	background: url('../img/header.jpg');
	height: 118px;
	border: 0;
}

.song-row-container{
	width: 100%;
	overflow-x: scroll;
}

.song-row{
	margin-top: 70px;
	width: 1215px;
	padding: 0 20px 0;
}

.song-row .song{
	position: relative;
	float: left;
	margin-right: 30px;
	width: 213px;
	height:283px;
	background-repeat: no-repeat;
}

.song .song-info{
	position: absolute;
	bottom:0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: hsla(0,0%,100%,.7);
}

.song-info .title{
	font-size: 20px;
}

.song-info .artist{
	font-size: 14px;
}

#recommended .song:nth-child(1){
	background-image: url('../img/imagine-dragons.png');
}

#recommended .song:nth-child(2){
	background-image: url('../img/two-door-cinema-club.png');
}

#recommended .song:nth-child(3){
	background-image: url('../img/arcade-fire.png');
}

#recommended .song:nth-child(4){
	background-image: url('../img/linkin-park.png');
}

#recommended .song:nth-child(5){
	background-image: url('../img/rihanna.png');
}

#top5-header{
	background: url('../img/top5-header.jpg');
	height: 45px;
	margin: 60px 0 40px;
}

#tracks{
	background: url('../img/tracks.png') no-repeat;
	width: 113px;
	height: 64px;
}

#albums{
	background: url('../img/albums.png') no-repeat;
	width: 111px;
	height: 64px;
}

#me{
	background: url('../img/me.png') no-repeat;
	width: 115px;
	height: 64px;
}
/* AngularJS Animations */
.custom-enter-setup,
.custom-leave-setup,
.custom-move-setup {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
  position:relative;
}

.custom-enter-setup {
  left:-10px;
  opacity:0;
}
.custom-enter-setup.custom-enter-start {
  left:0;
  opacity:1;
}

.custom-leave-setup {
  left:0;
  opacity:1;
}
.custom-leave-setup.custom-leave-start {
  left:-10px;
  opacity:0;
}

.custom-move-setup {
  opacity:0.5;
}
.custom-move-setup.custom-move-start {
  opacity:1;
}


