body{
		padding: 80px 0 51px; /* account for fixed navbar */
		background-color: #2C3E50;
		color: #fefefe;
		min-height: 100%;
	}
	#map{
		height: 250px;
		margin-bottom: 10px;
	}

	.alert{
		/*background-color: #F1C40F;*/
		border-color: #f39c12;
		color: #E67E22;
	}

	.alert .close{
		color: #C0392B;
	}

	#no-loc{
		display: none;
	}

	#previous-btn{
		position: fixed;
		font-size: 12px;
		top: 20px;
		left: 20px;
		z-index: 1031;
	}

	.btn-small [class^="icon-"], .btn-mini [class^="icon-"]{
		margin-top: 3px;

	}

	.item-details .span6{
		margin-bottom: 10px;
	}

	.color-white{
		color: #fff;
	}

	.fullmap{
		position: absolute;
		height: auto!important;
		width: 100%;
		top: 70px;	
		left:0;
		bottom:27px;
	}

	.custom-search{
	  background-color: #2c3e50;
	  border-radius: 8px 8px 6px 6px;
	  color: #ECF0F1;
	}

	.search {
		background: #2980B9 url("../images/todo/search.png") 92% center no-repeat;
		background-size: 16px 16px;
		border-radius: 6px 6px 0 0;
		color: #34495e;
		padding: 19px 25px 20px;
	}

	input.search-field {
		background: none;
		border: none;
		color: #ECF0F1;
		font-size: 19px;
		font-weight: 700;
		margin: 0;
		line-height: 23px;
		padding: 5px 0;
		text-indent: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none; 
	}

 	input.search-field::-webkit-input-placeholder { color: #ECF0F1; }
	input.search-field.placeholder { color: #ECF0F1; }

	#delete .checkbox .icon, #delete .checkbox .icon-to-fade{
		margin-left: 13px;
		margin-top: 13px;
	}

	.checkbox:hover, .radio:hover {
		color: #2C3E50;
	}

	.nav-pills.nav-stacked>li>.checkbox{
		margin-bottom: 3px;
	}

	#edit-geo-item .span6{
		height: 60px;
	}

	.title, .item-details .span6{
		overflow-x: scroll;
	}

	.leaflet-container{
		color: #2C3E50;
	}